.paragraph-text .text
{
    /*-fx-fill: black !important;*/
    /*-fx-font-weight: bold;*/
}

/* Light theme */
.text-color-1
{
    -fx-fill: #0000ff !important;
    -fx-font-weight: bold;
}

.text-color-2
{
    -fx-fill: #16b9ff !important;
    -fx-font-weight: bold;
}

.text-color-3
{
    -fx-fill: #63be06 !important;
    -fx-font-weight: bold;
}

.text-color-4
{
    -fx-fill: #f5619d !important;
    -fx-font-weight: bold;
}

.text-color-5
{
    -fx-fill: #f8c600 !important;
    -fx-font-weight: bold;
}

.text-color-6
{
    -fx-fill: #be35e2 !important;
    -fx-font-weight: bold;
}

.text-color-7
{
    -fx-fill: #1fdcc1 !important;
    -fx-font-weight: bold;
}

.text-color-8
{
    -fx-fill: #ff8549 !important;
    -fx-font-weight: bold;
}

.text-color-9
{
    -fx-fill: #9d9d9d !important;
}

.bg
{
    -fx-background-color: #f4f4f4;
}

.editor-bg
{
    -fx-background-color: white;
}

.sidebar-bg
{
    -fx-border-color: #16b9ff;
}

.sidebar-bg .list-cell:even
{
    -fx-background-color: white;
}

.sidebar-bg .list-cell:odd
{
    -fx-background-color: #f9f9f9;
}

.sidebar-bg .list-cell:selected
{
    -fx-background-color: #16b9ff;
    -fx-text-fill: white;
}

.btn-style
{
    /* No styles applied yet */
}

.choice-box-style
{
    /* No styles applied yet */
}

/* Dark theme */
.text-color-1-dark
{
    -fx-fill: #fff983 !important;
    -fx-font-weight: bold;
}

.text-color-2-dark
{
    -fx-fill: #52c2ea !important;
    -fx-font-weight: bold;
}

.text-color-3-dark
{
    -fx-fill: #d7b1ea !important;
    -fx-font-weight: bold;
}

.text-color-4-dark
{
    -fx-fill: #edbf9b !important;
    -fx-font-weight: bold;
}

.text-color-5-dark
{
    -fx-fill: #f6d963 !important;
    -fx-font-weight: bold;
}

.text-color-6-dark
{
    -fx-fill: #bd70e3 !important;
    -fx-font-weight: bold;
}

.text-color-7-dark
{
    -fx-fill: #88b2e8 !important;
    -fx-font-weight: bold;
}

.text-color-8-dark
{
    -fx-fill: #ef6c2b !important;
    -fx-font-weight: bold;
}

.text-color-9-dark
{
    -fx-fill: #949494 !important;
}

.bg-dark
{
    -fx-background-color: #191919;
}

.editor-bg-dark
{
    -fx-background-color: #272727;
}

.editor-bg-dark .paragraph-text .text
{
    -fx-fill: #e8e8e8;

}

.editor-bg-dark .paragraph-text .caret
{
    -fx-stroke: #cecece;
}

.sidebar-bg-dark
{
    -fx-border-color: #d8d292;

}

.sidebar-bg-dark .list-cell:even
{
    -fx-background-color: #202020;
    -fx-text-fill: #cecece;
}

.sidebar-bg-dark .list-cell:odd
{
    -fx-background-color: #252525;
    -fx-text-fill: #cecece;
}

.sidebar-bg-dark .list-cell:selected
{
    -fx-background-color: #d8d292;
    -fx-text-fill: black;
}


.btn-style-dark
{
    -fx-text-fill: #cecece;
    -fx-background-color: linear-gradient(to bottom, #5d5d5d, #484848);
}

.btn-style-dark:hover
{
    -fx-background-color: linear-gradient(to bottom, #666666, #5b5b5b);
}

.choice-box-style-dark
{
    -fx-background-color: linear-gradient(to bottom, #5d5d5d, #484848);
    -fx-mark-color: #cecece;
}

.choice-box-style-dark:hover
{
    -fx-background-color: linear-gradient(to bottom, #666666, #5b5b5b);
}

.choice-box-style-dark .label {
    -fx-text-fill: #cecece;
}

.choice-box-style-dark .context-menu {
    -fx-background-color: #484848;
}

.choice-box-style-dark .menu-item:focused {
    -fx-background-color: #5b5b5b;
}



/* Neon theme */
.text-color-1-neon
{
    -fx-fill: #48ff00 !important;
    -fx-font-weight: bold;
}

.text-color-2-neon
{
    -fx-fill: #d555ff !important;
    -fx-font-weight: bold;
}

.text-color-3-neon
{
    -fx-fill: #01ffc4 !important;
    -fx-font-weight: bold;
}

.text-color-4-neon
{
    -fx-fill: #e0ff00 !important;
    -fx-font-weight: bold;
}

.text-color-5-neon
{
    -fx-fill: #ffa600 !important;
    -fx-font-weight: bold;
}

.text-color-6-neon
{
    -fx-fill: #ff0098 !important;
    -fx-font-weight: bold;
}

.text-color-7-neon
{
    -fx-fill: #a065ff !important;
    -fx-font-weight: bold;
}

.text-color-8-neon
{
    -fx-fill: #00d9ff !important;
    -fx-font-weight: bold;
}

.text-color-9-neon
{
    -fx-fill: #5b565b !important;
}

.bg-neon
{
    -fx-background-color: #120415;
}

.editor-bg-neon
{
    -fx-background-color: #211e21;
}

.editor-bg-neon .paragraph-text .text
{
    -fx-fill: #b3b3b3;

}

.editor-bg-neon .paragraph-text .caret
{
    -fx-stroke: #cecece;
}

.sidebar-bg-neon
{
    -fx-border-color: #48ff00;

}

.sidebar-bg-neon .list-cell:even
{
    -fx-background-color: #120415;
    -fx-text-fill: #cecece;
}

.sidebar-bg-neon .list-cell:odd
{
    -fx-background-color: #1c191c;
    -fx-text-fill: #cecece;
}

.sidebar-bg-neon .list-cell:selected
{
    -fx-background-color: #48ff00;
    -fx-text-fill: black;
}


.btn-style-neon
{
    -fx-background-color: linear-gradient(to bottom, #94fdfd, #00ffff);
    -fx-text-fill: #000000;
}

.btn-style-neon:hover
{
    -fx-background-color: linear-gradient(to bottom, #07f4f4, #02e1e1);
}

.choice-box-style-neon
{
    -fx-background-color: linear-gradient(to bottom, #fd6ffc, #ff00fc);
    -fx-mark-color: #f1f1f1;
}

.choice-box-style-neon:hover
{
    -fx-background-color: linear-gradient(to bottom, #f382f2, #f655f5);
}

.choice-box-style-neon .label {
    -fx-text-fill: #f1f1f1;
}

.choice-box-style-neon .context-menu {
    -fx-background-color: #ff00fc;
}

.choice-box-style-neon .menu-item:focused {
    -fx-background-color: #f655f5;
}


/* Pastel theme */
.text-color-1-pastel
{
    -fx-fill: #ffb683 !important;
    -fx-font-weight: bold;
}

.text-color-2-pastel
{
    -fx-fill: #f0ecb4 !important;
    -fx-font-weight: bold;
}

.text-color-3-pastel
{
    -fx-fill: #ccfaa0 !important;
    -fx-font-weight: bold;
}

.text-color-4-pastel
{
    -fx-fill: #c5c5fd !important;
    -fx-font-weight: bold;
}

.text-color-5-pastel
{
    -fx-fill: #a6deff !important;
    -fx-font-weight: bold;
}

.text-color-6-pastel
{
    -fx-fill: #fdccca !important;
    -fx-font-weight: bold;
}

.text-color-7-pastel
{
    -fx-fill: #f57ca7 !important;
    -fx-font-weight: bold;
}

.text-color-8-pastel
{
    -fx-fill: #ec7fff !important;
    -fx-font-weight: bold;
}

.text-color-9-pastel
{
    -fx-fill: #a9a3ae !important;
}

.bg-pastel
{
    -fx-background-color: #413d45;
}

.editor-bg-pastel
{
    -fx-background-color: #67616c;
}

.editor-bg-pastel .paragraph-text .text
{
    -fx-fill: #fafafa;

}

.editor-bg-pastel .paragraph-text .caret
{
    -fx-stroke: #fafafa;
}

.sidebar-bg-pastel
{
    -fx-border-color: #2a282c;

}

.sidebar-bg-pastel .list-cell:even
{
    -fx-background-color: #67616c;
    -fx-text-fill: #fafafa;
}

.sidebar-bg-pastel .list-cell:odd
{
    -fx-background-color: #6f6974;
    -fx-text-fill: #fafafa;
}

.sidebar-bg-pastel .list-cell:selected
{
    -fx-background-color: #2a282c;
    -fx-text-fill: #fafafa;
}


.btn-style-pastel
{
    -fx-background-color: linear-gradient(to bottom, #312e33, #211f23);
    -fx-text-fill: #fafafa;
}

.btn-style-pastel:hover
{
    -fx-background-color: linear-gradient(to bottom, #282228, #191519);
}

.choice-box-style-pastel
{
    -fx-background-color: linear-gradient(to bottom, #312e33, #211f23);
    -fx-mark-color: #fafafa;
}

.choice-box-style-pastel:hover
{
    -fx-background-color: linear-gradient(to bottom, #282228, #191519);
}

.choice-box-style-pastel .label {
    -fx-text-fill: #fafafa;
}

.choice-box-style-pastel .context-menu {
    -fx-background-color: #2a282c;
}

.choice-box-style-pastel .menu-item:focused {
    -fx-background-color: #504d53;
}

/* Pink theme */
.text-color-1-pink
{
    -fx-fill: #ffc9e4 !important;
    -fx-font-weight: bold;
}

.text-color-2-pink
{
    -fx-fill: #9d5377 !important;
    -fx-font-weight: bold;
}

.text-color-3-pink
{
    -fx-fill: #f296ff !important;
    -fx-font-weight: bold;
}

.text-color-4-pink
{
    -fx-fill: #62988b !important;
    -fx-font-weight: bold;
}

.text-color-5-pink
{
    -fx-fill: #211d89 !important;
    -fx-font-weight: bold;
}

.text-color-6-pink
{
    -fx-fill: #ff6fb6 !important;
    -fx-font-weight: bold;
}

.text-color-7-pink
{
    -fx-fill: #cc5d94 !important;
    -fx-font-weight: bold;
}

.text-color-8-pink
{
    -fx-fill: #ff007e !important;
    -fx-font-weight: bold;
}

.text-color-9-pink
{
    -fx-fill: #b3b3b3 !important;
}

.bg-pink
{
    -fx-background-color: #f3dee6;
}

.editor-bg-pink
{
    -fx-background-color: #fffdfe;
}

.editor-bg-pink .paragraph-text .text
{
    -fx-fill: #2a2a2a;

}

.editor-bg-pink .paragraph-text .caret
{
    -fx-stroke: #2a2a2a;
}

.sidebar-bg-pink
{
    -fx-border-color: #ffd0e2;

}

.sidebar-bg-pink .list-cell:even
{
    -fx-background-color: #fffdfe;
    -fx-text-fill: #2a2a2a;
}

.sidebar-bg-pink .list-cell:odd
{
    -fx-background-color: #fff7fb;
    -fx-text-fill: #2a2a2a;
}

.sidebar-bg-pink .list-cell:selected
{
    -fx-background-color: #ffd0e2;
    -fx-text-fill: #2a2a2a;
}


.btn-style-pink
{
    -fx-background-color: linear-gradient(to bottom, #fff7fb, #f3e7ec);
    -fx-text-fill: #2a2a2a;
}

.btn-style-pink:hover
{
    -fx-background-color: linear-gradient(to bottom, #f6e9f0, #e8d8df);
    -fx-text-fill: #2a2a2a;
}

.choice-box-style-pink
{
    -fx-background-color: linear-gradient(to bottom, #fa9ecc, #f881bd);
    -fx-mark-color: #ffffff;
}

.choice-box-style-pink:hover
{
    -fx-background-color: linear-gradient(to bottom, #f8aad1, #f492c4);
}

.choice-box-style-pink .label {
    -fx-text-fill: #ffffff;
}

.choice-box-style-pink .context-menu {
    -fx-background-color: #f881bd;
}

.choice-box-style-pink .menu-item:focused {
    -fx-background-color: #f492c4;
}


/* Red theme */
.text-color-1-red
{
    -fx-fill: #ff0f05 !important;
    -fx-font-weight: bold;
}

.text-color-2-red
{
    -fx-fill: #ff8e81 !important;
    -fx-font-weight: bold;
}

.text-color-3-red
{
    -fx-fill: #ff7500 !important;
    -fx-font-weight: bold;
}

.text-color-4-red
{
    -fx-fill: #ffd4b7 !important;
    -fx-font-weight: bold;
}

.text-color-5-red
{
    -fx-fill: #ffb207 !important;
    -fx-font-weight: bold;
}

.text-color-6-red
{
    -fx-fill: #66eb6a !important;
    -fx-font-weight: bold;
}

.text-color-7-red
{
    -fx-fill: #89aed3 !important;
    -fx-font-weight: bold;
}

.text-color-8-red
{
    -fx-fill: #bf4d4d !important;
    -fx-font-weight: bold;
}

.text-color-9-red
{
    -fx-fill: #808080 !important;
}

.bg-red
{
    -fx-background-color: #141414;
}

.editor-bg-red
{
    -fx-background-color: #2f2f2f;
}

.editor-bg-red .paragraph-text .text
{
    -fx-fill: #dddddd;

}

.editor-bg-red .paragraph-text .caret
{
    -fx-stroke: #da0800;
}

.sidebar-bg-red
{
    -fx-border-color: #222222;

}

.sidebar-bg-red .list-cell:even
{
    -fx-background-color: #c90902;
    -fx-text-fill: #dddddd;
}

.sidebar-bg-red .list-cell:odd
{
    -fx-background-color: #da0800;
    -fx-text-fill: #dddddd;
}

.sidebar-bg-red .list-cell:selected
{
    -fx-background-color: #222222;
    -fx-text-fill: #dddddd;
}


.btn-style-red
{
    -fx-background-color: linear-gradient(to bottom, #f64f4a, #da0800);
    -fx-text-fill: #dddddd;
}

.btn-style-red:hover
{
    -fx-background-color: linear-gradient(to bottom, #c7110a, #a70702);
    -fx-text-fill: #dddddd;
}

.choice-box-style-red
{
    -fx-background-color: linear-gradient(to bottom, #f64f4a, #da0800);
    -fx-text-fill: #dddddd;
    -fx-mark-color: #dddddd;
}

.choice-box-style-red:hover
{
    -fx-background-color: linear-gradient(to bottom, #c7110a, #a70702);
    -fx-mark-color: #dddddd;
}

.choice-box-style-red .label {
    -fx-text-fill: #dddddd;
}

.choice-box-style-red .context-menu {
    -fx-background-color: #da0800;
}

.choice-box-style-red .menu-item:focused {
    -fx-background-color: #a70702;
}

/* Teal theme */
.text-color-1-teal
{
    -fx-fill: #a8d8d8 !important;
    -fx-font-weight: bold;
}

.text-color-2-teal
{
    -fx-fill: #00ffff !important;
    -fx-font-weight: bold;
}

.text-color-3-teal
{
    -fx-fill: #008c8c !important;
    -fx-font-weight: bold;
}

.text-color-4-teal
{
    -fx-fill: #ff8e42 !important;
    -fx-font-weight: bold;
}

.text-color-5-teal
{
    -fx-fill: #ffd1b1 !important;
    -fx-font-weight: bold;
}

.text-color-6-teal
{
    -fx-fill: #b1e4fc !important;
    -fx-font-weight: bold;
}

.text-color-7-teal
{
    -fx-fill: #69adf0 !important;
    -fx-font-weight: bold;
}

.text-color-8-teal
{
    -fx-fill: #f3b9ff !important;
    -fx-font-weight: bold;
}

.text-color-9-teal
{
    -fx-fill: #808080 !important;
}

.bg-teal
{
    -fx-background-color: #07262f;
}

.editor-bg-teal
{
    -fx-background-color: #303333;
}

.editor-bg-teal .paragraph-text .text
{
    -fx-fill: #ffffff;

}

.editor-bg-teal .paragraph-text .caret
{
    -fx-stroke: #ffffff;
}

.sidebar-bg-teal
{
    -fx-border-color: #428fda;

}

.sidebar-bg-teal .list-cell:even
{
    -fx-background-color: #303333;
    -fx-text-fill: #ffffff;
}

.sidebar-bg-teal .list-cell:odd
{
    -fx-background-color: #363b3b;
    -fx-text-fill: #ffffff;
}

.sidebar-bg-teal .list-cell:selected
{
    -fx-background-color: #286565;
    -fx-text-fill: #ffffff;
}


.btn-style-teal
{
    -fx-background-color: linear-gradient(to bottom, #c8e8e8, #a8d8d8);
    -fx-text-fill: #313131;
}

.btn-style-teal:hover
{
    -fx-background-color: linear-gradient(to bottom, #bcdede, #94c3c3);
    -fx-text-fill: #313131;
}

.choice-box-style-teal
{
    -fx-background-color: linear-gradient(to bottom, #6cacef, #428fda);
    -fx-text-fill: #ffffff;
    -fx-mark-color: #ffffff;
}

.choice-box-style-teal:hover
{
    -fx-background-color: linear-gradient(to bottom, #7cb3ec, #529be3);
    -fx-mark-color: #ffffff;
}

.choice-box-style-teal .label {
    -fx-text-fill: #ffffff;
}

.choice-box-style-teal .context-menu {
    -fx-background-color: #428fda;
}

.choice-box-style-teal .menu-item:focused {
    -fx-background-color: #529be3;
}