/*.black-text .paragraph-text .text
{*/
/*    -fx-fill: black !important;*/
/*}*/

.red-text
{
    -fx-fill: red !important;
}

.blue-text
{
    -fx-fill: blue !important;
}

.green-text
{
    -fx-fill: green !important;
}

.pink-text
{
    -fx-fill: pink !important;
}